body {
    background-color: #dedede;
}
.container {
    margin: 200px 350px 0 350px;
    background-color: #ffffff;
    /*color: #ffff;*/
    border-radius: 10px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.inside {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    height: 50px;
}

.half1 {
    width: 65%;
    align-items: center;
    padding: 5px 50px 5px 10px;
    border-right: 1px solid #000000;
}

.half2 {
    width: 35%;
    padding: 5px 10px 5px 10px;
    align-items: center;
}
