<!---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="/assets/usernotification.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <p id="mark-as-read">Mark as All Read</p>
            </header>
            <main id="notification-main">
                 Notifications will be appended here 
            </main>
        </div>
    </div>
    <script src="/assets/usernotification.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="/assets/usernotification.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <div class="header-actions">
                    <p id="mark-as-read">Mark as All Read</p>
                    <button id="logout-button">Logout</button>
                </div>
            </header>
            <main id="notification-main">
                <!-- Notifications will be appended here -->
            </main>
        </div>
    </div>
    <script src="/assets/usernotification.js"></script>
</body>
</html>


